img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#user-profile {
  margin-left:auto;
  margin-right:0;
}

.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size
{
  font-size: 87px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
  margin-top: 0px!important;
  border-top-width: 0px!important;
  padding-top: 0px!important;
  top: 48px!important;
}
