body {
  margin: 0;
  padding-top: 70px;
}

.page-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #343A40;
}
.mb-1{
  color: white;
}

.logo{
  width:50%;
  height:50%;
}
.navbar{
  width: 100%;
}

.navbar-brand{
  width: 100%;
  display: flex;
  justify-content: center;
  color: white!important;
}

.btn-primary {
  background-color: orange;
  cursor: pointer;
  padding-left: 7px;
  padding-right:7px;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: darkorange !important;
}
.btn-primary:hover {
  background-color: darkorange !important;
}

.btnText {
  color: #343A40;
}


.footer-copyright {
  color: white!important;
}

.header, .fixed-footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #343A40;
  padding: 10px 0;
  color: #fff;

}
.carousel-item {
  margin-bottom: 60px;
}

.carousel .item {
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.list-inline-item {
  display: inline-flex;
}

#containerOut {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}

#containerIn {
  top: 510px; 
  position: absolute;
  
  background-color: rgba(52, 58, 64, 0.4);
  max-width: 100%;
  height:56%;
  /* opacity: .5;  */
}
.container h1, h2, h3 {
  text-align: center;
  vertical-align: middle;
  line-height: 99px;
  color:white;  
}
.containerText {
  opacity: .9;
}
.mainText h3 {
  line-height: 90px!important;
}