/*.header {*/
  /*top: 0;*/
  /*height: 11%;*/
/*}*/
.page-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #343A40;
}

.mb-1{
  color: white;
}

.logo{
  width:50%;
  height:50%;
}
.navbar{
  width: 100%;
}

.navbar-brand{
  width: 100%;
  display: flex;
  justify-content: center;
  color: white!important;
}

.btn-primary {
  cursor: pointer;
}

.footer-copyright {
  color: white!important;
}

/*.header, .fixed-footer{*/
  /*width: 100%;*/
  /*position: fixed;*/
  /*background: #333;*/
  /*padding: 10px 0;*/
  /*color: #fff;*/

/*}*/

/*!*move to style.css*!*/

/*.logo img {*/
  /*height:15% ;*/
  /*width: 15%;*/
/*}*/

/*.title {*/
  /*position: absolute;*/
  /*padding-left: 10px;*/
  /*top: 50%;*/
  /*-webkit-transform: translateY(-50%);*/
  /*-ms-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/

/*}*/
/*.container h6 {*/
  /*float: left;*/
/*}*/
/*.container {*/
  /*margin: 0;*/
/*}*/

/*.login_page {*/
  /*!*position: absolute;*!*/
  /*width: 50%;*/
  /*top: 50%;*/
  /*-webkit-transform: translateX(-50%);*/
  /*-ms-transform: translateX(-50%);*/
  /*transform: translateX(-50%);*/
  /*-webkit-transform: translateY(-50%);*/
  /*-ms-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/
/*}*/

/*.btn {*/
  /*display: block;*/
  /*margin: 0 auto;*/
/*}*/


