<!--<script type="text/javascript" src="node_modules/bootstrap/js/dist/dropdown.js"></script>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <nav class="navbar navbar-dark bg-dark">
    <!--<img class="logo" src="../../../assets/images/logo.png" alt="">-->
    <a class="navbar-brand">
      <h1>Stock-ify</h1>
    </a>
  </nav>
</nav>

<!-- Footer -->
<!-- Call to action -->

<!--<div class="card text-white bg-dark mx-auto align-middle" style="max-width: 18rem;">-->
  <!--<div class="card-header">Register for free</div>-->
  <!--<div class="card-body">-->
    <!--<h5 class="card-title">Dark card title</h5>-->
    <!--<a href="#" class="btn btn-primary" (click)="signInWithGoogle()"><i class="fa fa-google" aria-hidden="true"></i> Sign in with Google</a>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="jumbotron">-->
  <!--<div class="container-fluid col-xs-12 col-sm-8">-->
    <!--...-->
  <!--</div>-->
  <!--<div class="col-sm-4">-->
    <!--<div class="card card-default">-->
      <!--<div class="card-header">Featured</div>-->
      <!--<div class="card-block">-->
        <!--Hey-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!-- Call to action -->
<!-- Footer -->



<!--<html>-->

<!--<head>-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--</head>-->
<!--<body>-->
<!--<div class="navbar-header">-->
  <!--<div class="title">-->
    <!--<div class = "logo"><img src="../../../assets/images/logo.png"></div>-->
    <!--<h2>Stock-ify</h2>-->

  <!--</div>-->
  <!--<div class="login_page">-->
    <!--<div class="row">-->
      <!--<div class="card col-md-4 col-md-offset-4">-->
        <!--<h1 align="center">Login In to Stock-ify</h1>-->

        <!--<div class="login__card">-->
          <!--<div class="card-block">-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--</div>-->

<div class="fixed-footer">
  <div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free: </h5>
      </li>
      <li class="list-inline-item">
        <a type="button" class="btn-primary" (click)="signInWithGoogle()">
          <i class="fa fa-google" aria-hidden="true"></i>
          Login with Google
        </a>
      </li>
    </ul>
    <h6>Copyright &copy; 2019 Stock-ify UCC Final Year Project</h6></div>
</div>
<!--</body>-->
<!--</html>-->

