
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">
      <h1>Stock-ify</h1>
    </a>
  </nav>
</nav>

<div class="fixed-footer">
  <div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free: </h5>
      </li>
      <li class="list-inline-item">
        <a type="button" class="btn-primary" (click)="signInWithGoogle()">
          <i class="fa fa-google" aria-hidden="true"></i>
          Login with Google
        </a>
      </li>
    </ul>
    <h6>Copyright &copy; 2019 Stock-ify UCC Final Year Project</h6></div>
</div>


