<div class="row">
        <div class="card col-md-4 col-md-offset-4">
            <h1 align="center">Welcome to Stock-ify</h1>
            <div class="login__card">
                <div class="card-block">
                    <form >
                        <h3 align="center">Login or Register</h3>
                        <div class="form-group">
                                <a routerLink="/login"><button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px">
                                    Login
                                </button></a>
                                <a routerLink="/register"><button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px">
                                    Register Account
                                </button></a>
                        </div>  
                    </form>
                </div>
            </div>
    </div>              
</div>