<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Welcome to Stock-ify Guest!</h3>
  <p>Login to create your inventory database...</p>

  <button (click)="auth.signInWithGoogle()">
    <i class="fa fa-google"></i> Connect With Google
  </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3>Welcome to Stock-ify, {{ user.userName }}</h3>
    <img  [src]="user.photoURL">
    <p>UID: {{ user.uid }}</p>
    <button (click)="auth.signOut()">Sign Out</button>
  </div>
</ng-template>
