<app-navbar></app-navbar>
<div class="header">
  <div class="card">
    <div class="card-header">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h3>Welcome to Stock-ify</h3>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div *ngIf="!inventoryTrue">
    <h1 class="display-4">We've noticed you haven't created an inventory yet.</h1>
    <p class="lead">Click here to create your first inventory system!</p>
        <button type="button" class="btn btn-dark" (click)="inventoryButtonClick()">Inventory Management</button>
      </div>
    <div *ngIf="inventoryTrue">
      <h1 class="display-4">You have an existing Inventory</h1>
      <p class="lead">Display Here</p>
      <button type="button" class="btn btn-dark" (click)="displayInventoryList()">Inventory Management</button>
  </div>
  </div>
</div>
