/* img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
} */

#user-profile {
  margin-left:auto;
  margin-right:0;
}

.carousel-caption {
  /* background-color: #343A40; */
  color: darkorange;
  /* opacity: .8; */
}

.carousel {
  margin: auto;
  width:1120px;
  height:768px;
}
.d-block {
  width:1120px;
  height:768px;
}

.fixed-footer {
  height: 40px;
  top:0px;
  width: 100%;
  background-color: #343A40;
  bottom: 0;
}

.cr {
  color: white!important;
  text-align: center;
}

.card {
  background-color: antiquewhite;
}

.row {
  margin-top: 10px;
}

.intro {
  margin: auto;
  width: 50%;
}
.img.card-img-top{
  width: 286px!important;
  height: 180px!important;
}
.jumbotron {
  height:100%;
}

.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size
{
  font-size: 87px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
}

.page-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #343A40;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  margin-top: 0px!important;
  border-top-width: 0px!important;
  padding-top: 0px!important;
  top: 48px!important;
}

.footer-copyright{
  color: white;
}
